<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name = "hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name = "hibernate.connection.url">jdbc:mysql://localhost:3306/pedidos</property>
        <property name = "hibernate.connection.username">root</property>
        <property name = "hibernate.connection.password">10rafael10</property>
        <property name = "hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name = "connection.pool_size">1</property>
        <property name = "hibernate.show_sql">true</property>
        <property name = "hibernate.current_session_context_class">thread</property>
        <!--<mapping resource = "Categorias.hbm.xml"/>-->
        
        <mapping class="com.resttechsoutions.hibernatetutorial.domain.Categorias"/>
        <mapping class="com.resttechsoutions.hibernatetutorial.domain.Clientes"/>
        <mapping class="com.resttechsoutions.hibernatetutorial.domain.DetalleOrdenes"/>
        <mapping class="com.resttechsoutions.hibernatetutorial.domain.DetalleOrdenesPK"/>
        <mapping class="com.resttechsoutions.hibernatetutorial.domain.Empleados"/>
        <mapping class="com.resttechsoutions.hibernatetutorial.domain.Ordenes"/>
        <mapping class="com.resttechsoutions.hibernatetutorial.domain.Productos"/>
        <mapping class="com.resttechsoutions.hibernatetutorial.domain.Proveedores"/>
    </session-factory>
</hibernate-configuration>